.tool
{
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all 0.3ms;
    border-radius: 4px;
    margin-left: 10px;
}

.tool__plus
{
    background: url('./icons/plus.svg') no-repeat center;
}

.tool__minus
{
    background: url('./icons/minus.svg') no-repeat center;
}

.tool__text
{
    background: url('./icons/text.svg') no-repeat center;
}

.tool__rectangle
{
    background: url('./icons/rectangle.svg') no-repeat center;
}

.tool__triangle
{
    background: url('./icons/triangle.svg') no-repeat center;
}

.tool__circle
{
    background: url('./icons/circle.svg') no-repeat center;
}

.tool__image
{
    background: url('./icons/image.svg') no-repeat center;
}

.tool__redo
{
    background: url('./icons/redo.svg') no-repeat center;
}

.tool__undo
{
    background: url('./icons/undo.svg') no-repeat center;
}

.tool__color-fill
{
    background: url('./icons/color-fill.svg') no-repeat center;
}

.tool__paint-brush
{
    background: url('./icons/paint-brush.svg') no-repeat center;
}

.tool__border
{
    background: url('./icons/border.svg') no-repeat center;
}

.tool__no-color
{
    background: url('./icons/no-color.svg') no-repeat center;
}

.tool__item-down
{
    background: url('./icons/item-down.svg') no-repeat center;
}

.tool__item-up
{
    background: url('./icons/item-up.svg') no-repeat center;
}

.tool:hover
{
    background-color: #d5d5d5;
}