.wrapper
{
    position: absolute;
}

.media
{
    width: 100%;
}

.selected
{
    border: 3px dashed #d3cde4;
}

.resizerDot
{
    width: 10px;
    height: 10px;
    background: #1098ad;
    position: absolute;
}