*
{
    margin: 0;
    padding: 0;
}

.wrapper
{
    position: absolute;
    display: flex;
    width: 288px;
    height: 87%;
    border: 1px none #d5d5d5;
    border-right-style: solid;
}

.content
{
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
    height: 96.5%;
}

.relativeBlock
{
    position: relative;
}