*
{
    margin: 0;
    padding: 0;
}

.wrapper
{
    position: absolute;
    display: flex;
    width: 15%;
    height: 87%;
    border: 1px;
    border-style: none solid none none;
    border-color: #d5d5d5;
}

.content
{
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
    height: 96.5%;
}

.relativeBlock
{
    position: relative;
}