*
{
    margin: 0;
    padding: 0;
}

.b-slides__wrapper
{
    position: absolute;
    display: flex;
    width: 14%;
    height: 93%;
    border: 1px;
    border-style: none solid none none;
}

.b-slides__content
{
    display: flex;
    width: 100%;
    flex-direction: column;
}