.name_wrapper
{
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 10px 20px;
}

.name
{
    display: flex;
    justify-content: end;
    border: dashed;
}

.name_content
{
    margin: auto;
    padding: 5px 10px;
    font: 400 20px/13px "Comic Sans MS";
}