.wrapper
{
    width: 86%;
    height: 100%;
    margin-left: 15%;
    margin-top: 1.2%;
}

.content
{
    width: 1360px;
    height: 768px;
    margin: 20px auto;
    border: 1px solid;
}