.subheader
{
    height: 40px;
    border-bottom: 1px solid #D5D5D5;
    display: flex;
}

.subheader__column
{
    border-right: 1px solid #D5D5D5;
    width: 288px;
    height: 100%;
}

.subheader__column_content_center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subheader__object-tool
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subheader__separator-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25px;
}

.subheader__separator
{
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background: #D5D5D5;
}

.subheader__figure_tool
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
