.subheader
{
    height: 40px;
    border-bottom: 1px solid #d5d5d5;
    display: flex;
}

.subheader__column
{
    border-right: 1px solid #D5D5D5;
    width: 288px;
    height: 100%;
}

.subheader__column_content_center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subheader__object-tool
{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
