.footer
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 54px;
}

.content_wrapper
{
    background: #d4d4d4;
    padding: 10px 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}